/******* GENERALE ******/
body{
    margin: 0;
}
section{
    padding: 0 15px;
}
p{
    margin: 10px 0;
}


/******* Customizzazione header *******/
/* Sfondo Logo*/
.bg-logo{
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
    background-size: 300px;
    padding-top:50px;
}
/* Dimensioni logo */
.logo{
    width: 200px;
}

/******* Sezione dettagli autore *******/
.author{
    color: #20a9e5;
}
.text-primary{
    color: #808080;
}

/******* Stile testi *******/
.bg-text{
    background-color: #ffff00;
}
.text-small{
    font-size: 13px;
}
.text-big{
    font-size:30px;
}

/******* Customizzazione Tabella *******/
.bg-thead{
    background-color: #20a9e5;
    color: #fff;
    text-align: left;
}
.bg-tr{
    background-color: #b1e5f2;
}

/******* Immagini sezione "Potrebbero Interessarti" *******/
.bkg{
    width: 400px;
    height: 250px;
    color: #fff;
    background-size: cover;
    margin-bottom: 12px;
    padding:15px;
}
.bkg01{
    background-image: url(../img/monitor.jpg);
}
.bkg02{
    background-image: url(../img/graph.jpg);
}
.spa25{
    width: 25%;
}
.spa75{
    width: 75%;
}

/******* Immagini sezione "Potrebbero Interessarti" *******/
footer {
	background-color: #4ea0ff;
	color: #fff;
	padding: 12px;
	margin-top: 15px;
}

